<mat-dialog-content class="language-dialog">

    <div class="language-section">
        <h2 class="section-title">Suggested language and region</h2>
        <div class="suggested">
          <button mat-button (click)="changeLanguage('en')">English <br> <span class="text">United States</span></button>
        </div>
      </div>

    <div class="language-section">
        <h2 class="section-title">Choose a language and region</h2>
        <div class="choices">
          <button mat-button (click)="changeLanguage('ka')">ქართული<br><span class="text">საქართველო</span></button>
        </div>
      </div>

</mat-dialog-content>
