.language-dialog {
    width: 600px;
    height: 400px;
    
  }
  
  .language-section .section-title {
    font-size: medium;
    margin-bottom: 10px;
  }
  
  .language-section .suggested {
  border: none;
    margin-bottom: 20px;
  }
  
  .text{
    font-size: smaller;
    color: rgb(0, 0, 0, 0.6);
  }

  mat-dialog-actions {
    display: flex;
    justify-content: flex-end;
  }

  mat-icon-button {
    position: absolute;
    right: 0;
    top: 0;
  }