<mat-toolbar class="filter-toolbar" role="navigation">
    <mat-list class="filter-list" horizontal>
      <mat-list-item class="filter-item">
        <a mat-button>
         <div class="image-container">
            <img src="/assets/images/cabins.jpg" alt="">
         </div> 
         <span>Cabins</span>
        </a>
      </mat-list-item>
      <mat-list-item class="filter-item">
        <a mat-button>
           <div class="image-container">
             <img src="/assets/images/tinyhomes.jpg" alt="">
            </div> 
            <span>Tiny homes</span>
        </a>
      </mat-list-item>

      <mat-list-item class="filter-item">
        <a mat-button>
            <div class="image-container">
               <img src="/assets/images/islands.jpg" alt="">
            </div> 
             <span>Islands</span>
           </a>
      </mat-list-item>

      <mat-list-item class="filter-item">
        <a mat-button>
            <div class="image-container">
               <img src="/assets/images/beach.jpg" alt="">
            </div> 
             <span>Beach</span>
           </a>
      </mat-list-item>

      <mat-list-item class="filter-item">
        <a mat-button>
            <div class="image-container">
               <img src="/assets/images/countryside.jpg" alt="">
            </div> 
             <span>Countryside</span>
           </a>
      </mat-list-item>

      <mat-list-item class="filter-item">
        <a mat-button>
            <div class="image-container">
               <img src="/assets/images/beachfront.jpg" alt="">
            </div> 
             <span>Beachfront</span>
           </a>
      </mat-list-item>

      <mat-list-item class="filter-item">
        <a mat-button>
            <div class="image-container">
               <img src="/assets/images/historicalhomes.jpg" alt="">
            </div> 
             <span>Historical homes</span>
           </a>
      </mat-list-item>

      <mat-list-item class="filter-item">
        <a mat-button>
            <div class="image-container">
               <img src="/assets/images/top.jpg" alt="">
            </div> 
             <span>Top of the world</span>
           </a>
      </mat-list-item>

      <mat-list-item class="filter-item">
        <a mat-button>
            <div class="image-container">
               <img src="/assets/images/luxe.jpg" alt="">
            </div> 
             <span>Luxe</span>
           </a>
      </mat-list-item>
    </mat-list>

    <button mat-button class="filter-button" (click)="openFilterDialog()">
        <mat-icon>filter_list</mat-icon>
        Filters
      </button>
  </mat-toolbar>

  
